apiVersion: v1
kind: LimitRange
metadata:
  name: starter-limits
  namespace: {{ namespace }}
spec:
  limits:
    - type: Container
      defaultRequest:
        cpu: "{{ requested_cpu }}"
        memory: "{{ requested_memory }}"
      default:
        cpu: "{{ requested_cpu }}"
        memory: "{{ requested_memory }}"
